-if !@pinned_reviews.empty?
    #pinned_review_table
        .bg-white.rounded.shadow-sm.p-4.mb-4.restaurant-detailed-ratings-and-reviews
            %h5.mb-1 Pinned Reviews
            =render partial: "review", collection: @pinned_reviews

#review_display
    .order-by
        = label_tag "order-by", "Order by:"
        = select_tag("order-by", options_for_select([["Date Descending", "1"], ["Date Ascending", "2"], ["Score Descending", "3"]], @current_ordering))
    #review_table
        = render 'all_reviews_table'

:coffee
    $ ->
        $(document).on 'click', 'button.hide-review', ->
            btn = this
            click_id = btn.id.split('-')[2]
            not_hidden = btn.textContent == "Hide this review"
            $.ajax
                method: "POST"
                url: "/reviews/" + click_id + "/hide_and_unhide"
                success: (data) ->
                    if not_hidden == true
                        # Change the button and display feedback
                        $.flashAlert('Review hidden!', 'alert-success')
                        $('#hide-review-' + click_id)
                            .text('Show this review')
                            .removeClass('btn-outline-danger')
                            .addClass('btn-outline-success')

                        console.log($('#hide-review-' + click_id))
                    else
                        # Change the button and display feedback
                        $.flashAlert('Review unhidden!', 'alert-success')
                        $('#hide-review-' + click_id)
                            .text('Hide this review')
                            .removeClass('btn-outline-success')
                            .addClass('btn-outline-danger')
                        console.log($('#hide-review-' + click_id))
                error: (error) ->
                    $.flashAlert('An error has occured during the process, please try again', 'alert-danger')


        $(document).on 'click', 'button.rate-review', () ->
            target = this
            rating_direction = target.id.split('-')[0] #positive or negative rating
            rating_target_review_id = target.id.split('-')[3] #review id the rating is for

            #get the correct route for the desired action
            route = if rating_direction == 'positive' then 'increase_score' else 'decrease_score'

            $.ajax
                method: 'POST',
                url: '/reviews/' + rating_target_review_id + '/' + route
                success: (response) ->
                    if response.rating_change == true
                        #update rating display
                        $('#current-score-review-' + rating_target_review_id).text(response.new_score)
                        #Show an alert relevant to the action
                        if response.old_rating == true
                            $.flashAlert('Your rating of this review has been changed', 'alert-success')
                        else
                            $.flashAlert('Your rating of this review has been submitted', 'alert-success')
                    else
                        $.flashAlert('You have already submitted a rating for this review', 'alert-danger')
                error: (error) ->
                    $.flashAlert('An error has occured during the process, please try again', 'alert-danger')
        $(document).on 'click', 'button.pin-review', ->
            target = this
            target_id = target.id.split('-')[2]
            $.ajax
                method: 'POST'
                url: '/reviews/' + target_id + '/pin_review'
                success: (response) ->
                    window.location.reload(true)
                error: (error) ->
                    $.flashAlert('An error has occured during the process, please try again', 'alert-danger')

        $('#order-by').on 'change', ->
            new_sort = $(this).val()
            current_location = location.href.split('?')[0]
            query = new URLSearchParams(location.search)

            new_query = '?'
            if(query.has('page_no'))
                new_query = new_query + 'page_no=' + query.get('page_no') + '&'

            new_query = new_query + 'ordering=' + new_sort

            location.href = current_location + new_query
